* {
    font-family: "Roboto", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: lightgray;
    height: 100vh;
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row: 1 / 3;
    background-color: #4B9CD3;
    color: white;
    padding: 1.5rem;
}

.sidebar > div {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.sidebar > div:first-child {
    margin-left: -0.75rem; 
    margin-bottom: 2rem;
}

.sidebar > div:first-child > svg {
    width: 30px;
}

.sidebar p {
    font-weight: bold;
}

svg {
    width: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: medium;
    text-align: center;
    margin-top: auto;
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    row-gap: 1rem;
    background-color: white;
    box-shadow: 3px 3px 5px darkgrey;
    padding: 1.5rem 2rem;
}

.header > div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

img {
    width: 20px;
    margin: 0;
}

input {
    flex-grow: 1;
    background-color: lightgray;
    height: 30px;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    border: 2px solid lightgray;
    border-radius: 20px;
}

.right-align {
    margin-left: auto;
}

button {
    width: 100px;
    height: 40px;
    background-color: #4B9CD3;
    color: white;
    font-size: medium;
    font-weight: bold;
    border: 2px solid #4B9CD3;
    border-radius: 20px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
    padding: 2rem 1.5rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-row: 1 / 3;
}

p, h2, h3, h4 {
    margin: 0;
}

.projects > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    flex-grow: 1;
}

.projects > div > div {
    flex-grow: 1;
    background-color: white;
    overflow: hidden;
    min-height: 150px;
    box-shadow: 3px 3px 5px darkgrey;
    border-radius: 10px;
}

.border {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    border-left: 8px solid goldenrod;
}

.border p {
    color: #636363;
}

.border > div:last-child {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
    bottom: 1.5rem;
    right: 1rem;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.announcements > div {
    flex-grow: 1;
    background-color: white;
    box-shadow: 3px 3px 5px darkgrey;
    border-radius: 10px;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 2rem;
}

.trending > div {
    flex-grow: 1;
    background-color: white;
    box-shadow: 3px 3px 5px darkgrey;
    border-radius: 10px;
}